In [ ]:
print("hello world")

In [ ]:
2+3

In [ ]:
type(10<10)

In [ ]:
s = "hello world"

In [ ]:
s[-1]

In [ ]:
s[1:4]

In [ ]:
s[0:-2:3]

In [ ]:
"number {0:r<4}!".format(1)

In [ ]:
type(s)

In [ ]:
a = [1, 2, 3, 4, 5, "'''abc"]

In [ ]:
a += [6,3,4,print(a)]

In [ ]:
a

In [ ]:
a[5][3] = None

In [ ]:
type(a[5][3])

In [ ]:
a = None

In [ ]:
type(a)

In [ ]:
print("[1,2,3,4,5,\"]")

In [ ]:
c= list(range(5))

In [ ]:
c

In [ ]:
s1= set([1,2,3])

In [ ]:
s1 = {1,2,3}
s2 = {2,4,5}

In [ ]:
print(s1&s2)

In [ ]:
print(s1|s2)

In [ ]:
print(s1.intersection(s2))

In [ ]:
print(s1-s2)

In [ ]:
print(s1.difference(s2))

In [ ]:
s1.union(s2)

In [ ]:
print(s2.difference(s1))

In [ ]:
set.symmetric_difference(s1, s2)

In [ ]:
s1.isdisjoint(s2)

In [ ]:
s1

In [ ]:
s1.append(3)

In [ ]:
s1={2,3,4,5, "abc"}
s2={6,7,8,9, "abc"}

In [ ]:
set.intersection(s1,s2)

In [ ]:
if None :
    print("이건 None")

In [ ]:
a = int(input("정수1: "))
b = int(input("정수2: "))
c = int(input("정수3: "))

if (a > 100 or b > 100 or c > 100) or (a < 0 or b < 0 or c < 0) :
    print("잘못된 정수가 입력되었습니다.")
elif a > 65 and b > 65 and c > 65 :
    print("합격")
else:
    print("불합격")

In [ ]:
a = int(input("정수를 입력하세요: "))
if a == 0:
    print("0은 애매합니다.")
elif a%2 == 0:
    print("입력하신 %d는 짝수" %a)
elif a%2 == 1:
    print("입력하신 %d는 홀수" %a)

In [ ]:
a = {1,2,3}

In [ ]:
type(a)

In [ ]:
a.expend([1,2,3])

In [ ]:
type(a)

In [ ]:
a = list(a)

In [ ]:
a.extend([4,5,6])

In [ ]:
a

In [ ]:
a = set(a)

In [ ]:
type(a)

In [ ]:
a

In [ ]:
score = dict(name="Tom", math=80, english=70)

In [ ]:
score

In [ ]:
type(score)

In [ ]:
list(score)

In [ ]:
a = list(score.items())

In [ ]:
a[1]

In [ ]:
a[1][0]

In [ ]:
type(a)

In [ ]:
type(a[0])

In [ ]:
score.update({"math": 90})

In [ ]:
score

In [ ]:
a

In [ ]:
a[1][1] = 100

In [ ]:
a

In [ ]:
b = {1}

In [ ]:
type(b)

In [ ]:
type(a)

In [ ]:
type(a[0])

In [ ]:
type(a[1])

In [ ]:
a = int(input("정수를 입력하세요:"))
for i in range (0, a):
    print("*"*(i))

In [ ]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
for idx, val in enumerate(a):
    print(idx, val, sep=", ")

In [ ]:
for idx, val in enumerate(a):
    print(val, sep=", ")

In [ ]:
for val in enumerate(a):
    print(idx, val, sep=", ")

In [ ]:
x = [3,6,9,20,-7,5]

In [ ]:
for i in range (len(x)):
    print(x[i]*10)
    x[i] *= 10
    print(x[i])
print(x)

In [ ]:
len(x)

In [ ]:
y = {"math": 70, "science": 80, "english": 20}

In [ ]:
z = list(y.values())
for i, v in enumerate(y):
    y[v] += 10
print(y)

In [ ]:
o = [1,2,3,4,6,7,8,9]

In [ ]:
g = int(input())
if g < 1 :
    print("구구단x")
else :
    for i in range (10) :
        print("%d * %d = %d" %(g, i, g*i))

In [ ]:
enumerate(y)

In [ ]:
new_list=[]
word = ["school", "game", "piano", "science", "hotel", "mountain"]

for i in word :
    
    if len(i) >= 6 :
        new_list += [i]
#         print(new_list)
#         new_list.append(word[i])
# print(new_list)
#         print(word[i])
#         print((word[i]))
new_list

In [ ]:
len('school')

In [ ]:
for subject in y :
    y[subject]+=10
print(y)

In [ ]:
'__iter__' in dir()

In [ ]:
s = ['abc', 'edf']

In [ ]:
s += '234325'

In [ ]:
s

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print("{0}*{1}={2}".format(i, j, i*j))
    print("________" "%s단 끝" %i)

In [ ]:
k = int(input())
for i in range (1, k+1):
    if i%3 == 0 and i%5 == 0 :
        print("%d는 3과 5의 공배수" %i)
    elif i%3 == 0 :
        print("%d는 3의 공배수" %i)
    elif i%5 == 0 :
        print("%d는 5의 공배수" %i)
    else :
        print("{}".format(i))

In [ ]:
diction = dict(name = 2345, birth = 23562, height = 1124, GRE = 123)

In [ ]:
type(diction)

In [ ]:
for i, b in enumerate(diction):
    print(diction[b]+10)

In [ ]:
i = 0
while i < 10:
    print("현재 값: ", i)
    i += 1

In [ ]:
"__iter__" in dir(print)

In [ ]:
i = 0
while i < 10:
    print (i)
    i+=1

In [ ]:
i = 0
while i!=5:
    i = int(input("5를 입렵하면 반복이 중단됩니다.:"))
     #"{}를 입력하셨습니다.".format(i)
    print("{}를 입력하셨습니다.".format(i))
print("중단!")

In [ ]:
i = []
while i.upper() != "S":
    i += 0

In [ ]:
num = 0
total = 0

# while str(num).upper()!="S":
while num != "s" and num != 'S':
    total += int(num)
    num = input("숫자를 입력하세요:")

print(total)

In [ ]:
#####

In [ ]:
i = 0
n = 0
m = 0
o = 0
r = {1:"가위", 2:"바위", 3:"보"}
while i <= 3 :
    print("가위(1) 바위(2) 보(3)를 입력해주세요!:")
    i = int(input())
    import random
    j = random.randint(1,3)
#     if i == 3 :
#         k = "보"
#     elif i == 2 :
#         k = "바위"
#     elif i == 1 :
#         k = "가위"
#     if j == 3 :
#         l = "보"
#     elif j ==  2 :
#         l = "바위"
#     elif j == 1 :
#         l = "가위"
    if i == 3 and j == 2 :
        n += 1
    elif i == 2 and j == 1 :
        n += 1
    elif i == 1 and j == 3 :
        n += 1
    elif i == j :
        o += 1
    print("유저 : {0}, 컴퓨터 : {1}".format(r[i], r[j]))
    m += 1
print("게임종료(전체:{0}, 승리:{1}, 비김:{2})".format(m, n, o))

r = {1:"가위", 2:"바위", 3:"보"}
b = dict(r)

In [ ]:
r[3]

In [ ]:
import random


i = 0
while i < 100 :
    randint()
a = list(range(0, 100))

In [ ]:
import random

a = []
for i in range(100):
    a += (random.randint(1,1000))
    
print("list:", a)
max_a = a[0]
for i in a:
    if max_a<i:
        max_a = i
max_a

# a = list(range(0, 100))

In [ ]:
i

In [ ]:
user_dict = {key: users[idx] for idx, key in enumerate(keys)}
print(user_dict)

In [ ]:
word=['school', 'game', 'piano', 'science', 'hotel', 'mountain']

new_word = [w for w in word if len(w) >= 6]
print (new_word)

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
a[2].extend([1,2])
print(a)

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    for j in i:
# #         print(j, end=' ')
        print(j)

In [ ]:
a = [[10, 20], [30, 40, 50], [50, 60]]
b = [[2, 3], [4, 5, 6], [6, 7]]

c = [ [a[i][j] * b[i][j] for j in range(len(a[i]))] for i in range(len(a)) ]
print(c)



# d.append([c[k],c[k+1]]) for k in range(len(c))
# print(d)

In [ ]:
len(a)

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

c = []
for i in range(len(a)):
#     small_a = a[i]
#     s_a_0 = a[i][0]
#     s_a_1 = a[i][1]
    d = []
    for j in range(len(a[i])):
        d.append(a[i][j]*b[i][j])
        print(d)
    c.append(d)
print(c)
#     print(a[i][j])
    
                   
#    c.append(a[i][0] * b[i][0], a[i][1] * b[i][1])

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

for x, y in a:
    print(x, y)
# c = [a * b for i, j in a]
# print(c)

In [ ]:
c = [i * j for j in range(2, 10) for i in range(1, 10) ]
print(c)

In [ ]:
i = list(range (1, 10))
j = list(range (2, 10))
c = []
for q in j :
    for w in i :
        c += [w * q]
print(c)

In [ ]:
j

In [ ]:
type(i)

In [ ]:
a = [[10, 20], [30, 40, 50], [50, 60]]
for x, y in a:
    print(x)

In [ ]:
for i in range(5):

    
    if i == 3:
        continue
    print(i)

In [ ]:
while True :
    a = int(input())
    print("hi"*a)
    break

In [ ]:
a = int(input())
for i in range (a):
    if i%2 == 1:
        continue
    print(i)

In [ ]:
print("안녕하세요", "파이썬 세상에 오신 것을 환영합니다.")

In [ ]:
print("hello", "world")

In [ ]:
print("hello", "world", sep=",")

In [ ]:
print("제 이름은 %s입니다." %"윤수")

In [ ]:
print("제 이름은 {0}입니다.".format("윤수"))

In [ ]:
file = open("my_file.txt", "w")
file.write("this is my file")
file.close()

#파일 읽기

In [ ]:
file = open("my_file.txt", "r")
read_str = file.read()
print(read_str)
file.close()

# 파일 여려 줄 쓰기

In [ ]:
target_str = """안녕하세요,
반갑습니다.
저는 --- 입니다.
"""
file = open("my_second_file.txt", "w")
file.write(target_str)
file.close()

# 파일 모드

In [ ]:
file = open("<파일명>", 'wt') # w, wt 같다

file = open("<파일명>", "wb")
file = open("<파일명>", "w+") # +가 붙으면 읽거나 쓸 수 있다.
file = open("<파일명>", "r+")
file = open("<파일명>", "a+")

In [ ]:
file = open("my_file.txt", 'w+')
file.write("파일 수정3")
print(txt_file)
file.close()

In [ ]:
file = open("my_file.txt", "w")
file.write("예제 파일입니다. \n 재미있는 파이썬!!")
file.close()

In [ ]:
with open("my_file2.txt", "w") as f: # f= open("my_file.txt", 'w')
    f.write("파일입니다. \n 재미있는 파이썬!!!")
    f.write("""파
    일
    입
    니
    다. \n 재
    미
    있
    는
    파
    이
    썬!!!""")

In [ ]:
with open("my_file2.txt", "r") as f:
    read_file = f.read()
    
    print(read_file)

In [ ]:
with open("my_file2.txt", "r") as f:
    line = f.readline()
    while line:
        print(line)
        line = f.readline()
#     print(line)
#     print(f.readline())

In [ ]:
type(line)

In [ ]:
with open("my_file2.txt", "r") as f:
    lines = f.readlines()
    print(lines)

In [ ]:
with open("my_file.txt", "r") as f:
    lines = f.readlines()
    print(lines)

In [ ]:
type(lines)

In [ ]:
lines

In [ ]:
str_var = ":".join(lines)

In [ ]:
type(str_var)

In [ ]:
print(str_var)

In [ ]:
lines

In [ ]:
with open("my_write_example.txt", "w") as f:
    f.writelines(lines)

In [ ]:
type(lines)

In [ ]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]
ids = ["1", "2", "3"]
di = dict(zip(ids, dic.keys()))
print(di)

In [ ]:
dic.keys()

# 입출력

In [ ]:
import os

BASE_DIR = os.getcwd()
IO_TEST_DIR = os.path.join(BASE_DIR, 'iotest')
if not os.path.exists(IO_TEST_DIR):
    os.makedirs(IO_TEST_DIR)

In [ ]:
BASE_DIR

In [ ]:
IO_TEST_DIR

In [ ]:
w_test_path = os.path.join(IO_TEST_DIR, 'w_test.txt')

print(w_test_path)

In [ ]:
with open(w_test_path, "w") as f:
    f.write("hello Python")
    content = f.read()

In [ ]:
with open(w_test_path, "r") as f:
    f.write("hello Python")
    content = f.read()

In [ ]:
with open(w_test_path, "r") as f:
    content = f.read()
    print(content)

In [ ]:
IO_TEST_DIR = os.path.join(BASE_DIR, 'iootest')

In [ ]:
a_test_path = os.path.join(IO_TEST_DIR, 'a_test.txt')
import shutil

shutil.copy(w_test_path, a_test_path)

print(os.path.exists(a_test_path))
print(a_test_path)

In [ ]:
w_plus_test_path = os.path

In [ ]:
def func_sum(num1, num2):  
    return num1+num2

In [ ]:
func_sum(3,5)

In [ ]:
def hello_world():
    print("Hello world")
    return print("hello")

In [ ]:
hello_world()

In [ ]:
a = hello_world()

In [ ]:
print(a)

In [ ]:
def hello_name(name):
    print("hello %s" %name)

In [ ]:
my_name = "ddd"
a = hello_name(my_name)

In [ ]:
print(a)

In [ ]:
import random

def make_lotto_numbers():
    return [random.randint(1,45) for x in range(6)]

In [ ]:
lotto_numbers = make_lotto_numbers()

In [ ]:
make_lotto_numbers()

In [ ]:
a = 1
b = 2
c = 5

In [ ]:
def func1():
    a = 3
    b = 4
    print(a,b,c)

In [ ]:
func1()

In [ ]:
a

In [ ]:
print(a,b)

In [ ]:
def func2():
    a = 5
    b = 6
    
    func1()
    
    print(a, b)

In [ ]:
func2()

In [ ]:
a = 5

In [ ]:
def func1() :
    a = 3
    print(a)

In [ ]:
func1()

In [ ]:
def func2():
    global a
    a = 50
    print(a)

In [ ]:
func2()

In [ ]:
a

In [ ]:
def cal(a, b, c, d)
    print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(a,b,c,d))

In [ ]:
def calc(num1, num2):
    print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(num1+num2,num1-num2,num1*num2,num1/num2))
    return num1+num2, num1-num2, num1*num2, num1/num2

In [ ]:
def cal(a, b):
    calc()
    print("덧셈:{}, 뺄셈:{}, 곱셈:{}, 나눗셈:{}".format(a,b,c,d))

In [ ]:
def 
["덧셈:"num1+num2, "뺄셈:"num1-num2, "곱셈:"num1*num2, "나눗셈:"num1/num2]

In [ ]:
calc(3, 5)

In [ ]:
type(calc(3,5))

In [ ]:
lis = [1,2,3,1,4,2,1]

In [ ]:
def allindex(a, b):
    c = []
    for i in range (len(a)):
        if a[i] == b :
            c.append(i)
    return c

In [ ]:
allindex(lis, 1)

In [ ]:
def index(a, b):
    return [i for i, y in enumerate (a) if a[i] == b]

In [ ]:
index(lis, 2)

In [ ]:
[i for i, y in enumerate (lis) if lis[i] == 1]

In [ ]:
import math

def euclidean_distance(pos1, pos2):
    if type(pos1) != type(pos2) != type(list()):
        # list 형태만 가능
        print('Error발생!')
        return None  # 생략 가능
    
    total = 0
    for p1, q1 in zip(pos1, pos2):
        total += (p1-q1)**2
    
    return math.sqrt(total)

In [ ]:
pos1, pos2 = [1,2], [2,3]
euclidean_distance(pos1,pos2)

In [ ]:
(lambda x: x**2)(3)

In [ ]:
(lambda x,y: x**y)(3,3)

In [ ]:
import math 
mul_func = lambda pos1, pos2 : if type(pos1) != type(pos2) != type(list()) print('Error발생!') 
total = 0
for p1, q1 in zip(pos1, pos2):
    total += (p1-q1)**2 
return math.sqrt(total)

In [ ]:
mul_func(lis,1)

In [ ]:
mul_func(1,45)

In [ ]:
def func1(a,b,c):
    return a+b+c

In [ ]:
func1(0,1,2)

In [ ]:
a= list(range(3))

In [ ]:
a

In [ ]:
func1(*a)

In [ ]:
g = [5,7,8]

In [ ]:
def func1(a,b,c):
    print("a:{}, b:{}, c:{}".format(a,b,c))
    return a+b+c

In [ ]:
func1(*g)

# 가변인수

In [ ]:
def func3(a, b, *args):
    print("a: {}, b: {}".format(a, b))
    print('-'*10)
    
    for arg in args:
        print(arg)
    
    return sum(args+(a,b))

In [ ]:
def func2(*args):
    print(type(args))
    
    print('-'*10)
   
    for arg in args:
        print(arg)
        
    return sum(args)

In [ ]:
func2(*[1,2,3])

In [ ]:
def func4(name, email):
    print("이름: ", name)
    print("이메일: ", email)
    
    return {
        'name': name,
        'email': email
    }

In [ ]:
func4("lee", "em")

In [ ]:
dic = dict(name = "lee", email = "emm")

In [ ]:
func4(**dic)

In [ ]:
def last_func(name, email, addr=None ,age=20, *args, **kwargs):
    print("name: ", name)
    print("email: ", email)
    print("age: ", age)
    
    if addr is None:
        addr = "서울시"
    print('addr: ', addr)
    
    print('-'*10, 'args 시작')
    for arg in args:
        print(arg)
    
    print('-'*10, 'kwargs 시작')
    for key in kwargs:
        print(key, kwargs[key])

In [ ]:
last_func("신윤수", 'tweatershin@gmail.com', 30, 40, 1,2,3, is_korean=True, birth="0305")

In [ ]:
last_func("신윤수", 'tweatershin@gmail.com', 20, is_korean=True, birth="0305")

In [ ]:
def calc(oper, *args):
    if oper is int:
        print("연산자를 입력하세요")
#     op = {1:"+", 2:"-", 3:"*", 4:"/"}
    a = 0
    b = 1
    if oper == "+":
        for arg in args:
            a += arg
    elif oper == "-":
        for arg in args:
            a -= arg
    elif oper == "*":
        for arg in args:
            b *= arg
    elif oper == "/":
        for arg in args:
            b /= arg
    if a != 0:
        return a
    elif b != 1:
        return b

In [ ]:
def calc(oper, *args):
    if oper is not str:
        print("연산자를 입력하세요")
    op = {1:"+", 2:"-", 3:"*", 4:"/"}

In [ ]:
calc(1,2,3)

In [ ]:
calc("-",1,2,3)

In [ ]:
calc("/", 1,2,3,4,5)

In [ ]:
def cal(*args):
    print("최대값:{}, 최소값:{}, 평균값:{}".format(max(args), min(args), sum(args)/len(args)))

In [ ]:
cal(1,2,3,4,5)

In [ ]:
class Dog:
    def __init__(self, name, color):
        self.hungry = 0
        self.name = name
        self.color = color
    def eat(self):
        self.hungry -= 10
        print("밥먹음 ", self.hungry)
    def walk(self):
        self.hungry += 10
        print("산책 ", self.hungry)

In [ ]:
    choco = Dog("choco", "black")
    jjong = Dog("jjong", "white")
    
    choco.eat()
    choco.eat()
    choco.walk()
    print(choco.hungry)
    print(jjong.hungry)

In [ ]:
class Car(object):
    total_num = 0

    @staticmethod
    def call_119():
        return "119"
    
    @classmethod
    
    
    def __init__(self, model, engine_rank):
        self.model = model
        self.engine_rank = engine_rank
        self.__speed = 0
        self.max_speed = 1000
        Car.total_num += 1

    
    def accelerate(self):
        if self.__speed > 500 :
            return False
        self.__speed += 10
        return True

    def push_break(self):
        self.__speed -= 10
        return True

In [ ]:
class BMWCar(Car):
    pass

In [ ]:
my_car = Car("Toyota", 'A')

In [ ]:
dir(my_car)
my_car._Car__speed += 10

In [ ]:
my_car._Car__speed

In [ ]:
my_car.accelerate()

In [ ]:
my_car.model

In [ ]:
my_car.engine_rank

In [ ]:
minsu_car = BMWCar("BMW", "A")

In [ ]:
dir(minsu_car)

In [ ]:
type(minsu_car)

In [ ]:
minsu_car.speed

In [ ]:
minsu_car.accelerate()

In [ ]:
minsu_car.speed

In [ ]:
dir(BMWCar("BMW", "A"))

In [ ]:
dir(object)

In [ ]:
my_car = Car("Toyota", "S")

In [ ]:
minsu_car = Car("Toyota", 'S')

In [ ]:
Car.total_num

In [ ]:
class Car(object):
    res_car = 0
    
    @classmethod
    def pres_car(cls):
        print("등록된 차량 개수 : ", cls.res_car)
        return True
    
    def __init__(self, model, disp, year_op):
        self.__model = model
        self.__disp = disp
        self.__year_op = year_op
        Car.res_car += 1
        
    def rename_car(self, rename):
        self.__model = rename
        return True
    
    def dist_car(self):
        if self.__disp < 1000 :
            print("소형")
            return True
        elif self.__disp < 2000 :
            print("중형")
            return True
        elif self.__disp >= 2000 :
            print("대형")
            return True
        
    def get_name(self) :
        print(self.__model)
        return True
    
    def get_disp(self) :
        print(self.__disp)
        return True
    
    def get_prod_year(self) :
        print(self.__year_op)
        return True

In [ ]:
class Car(object):
    total_num = 0

    @staticmethod
    def call_119():
        return "119"
    
    @classmethod
    
    
    def __init__(self, model, engine_rank):
        self.model = model
        self.engine_rank = engine_rank
        self.__speed = 0
        self.max_speed = 1000
        Car.total_num += 1

    
    def accelerate(self):
        if self.__speed > 500 :
            return False
        self.__speed += 10
        return True

    def push_break(self):
        self.__speed -= 10
        return True

In [ ]:
car1 = Car("A1", 1500, 1995)
car2 = Car("A2", 4000, 2010)
car3 = Car("A3", 500, 1999)
car4 = Car("A4", 2300, "2015")

In [ ]:
car1.get_prod_year()

In [ ]:
Car.pres_car()

In [ ]:
car1._Car__year_op

In [ ]:
car1.get_name()

In [ ]:
car1.rename_car("abc")

In [ ]:
car1.get_name()

# 연식에 따라 나누기
클래스 밖에서 딕셔너리를 이용

In [ ]:
my_dict= {}
year = car1.get_prod_year()

In [ ]:
if year not in my_dict:
    my_dict[year] = []
my_dict[year].append(car1)

In [ ]:
try :
    print("try문으로 들어갑니다.")
    print(10/0)
    print("try문이 끝났습니다.")
    
except:
    print("Except문이 발생했습니다.")

In [ ]:
10/0

In [ ]:
x = [1,2,3]
x[5]

In [ ]:
x = [1,2,3]

try :
    print(1)
    
except ZeroDivisionError as e:
    print("숫자를 0으로 나눌 수 없음", e)
except IndexError as e:
    print("잘못된 인덱스", e)
else:
    print("Except문이 실행이 안되면 실행됩니다.")
    
finally:
    print("finally가 실행되었습니다.")

In [ ]:
try:
    raise Exception("메시지")
except:
    print("에러가 처리 되었습니다.")

In [ ]:
type(IndexError)

In [ ]:
type(raise)

In [ ]:
class MyException(Exception):
    pass

In [ ]:
try:
    raise MyException("abc")
except MyException as e:
    print("my exception입니다.")
    print(e)
    print(type(e))

In [ ]:
e

In [ ]:
raise MyException("에러")

# 모듈

In [ ]:
import sys
import random

In [ ]:
random.randint(1,21)

In [ ]:
%%writefile calc.py

def calc_sum(a,b):
    return a+b

def calc_mul(a,b):
    return a*b

In [ ]:
import calc

In [ ]:
calc.calc_sum(1,5)

In [ ]:
from calc import calc_sum

In [ ]:
calc_sum(5,5)

In [ ]:
class Car(object):
    total=0
    year_dict={}

In [ ]:
1
11
12
1121
122111
112213
12221131
1123123111

In [ ]:
def seq(n):
    k = [1]
    
    for o in range(n):
        i = 0
        while i < len(k):
            u = k[i]
            h = 1
            while i+1 < len(k) and  u == k[i+1]:
                h += 1
                i += 1
            k.append(u)
            k.append(h)
            i += 1
    print(k)
        
            
            
#             if len(k) == 1:
#                 k.append(1)
#                 a = 1
#             elif idx-1 == len(k):
#                 k.append(a)
#                 break
#             elif k[idx-2] == k[idx-1]:
#                 a += 1
#             elif k[idx-2] != k[idx-1]:
#                 k.append(a)
#                 a = 1

In [ ]:
seq(3)

In [ ]:
char = "1"
output = ""

for i in range(10):
    j = 0
    while j < len(char):
        curr = char[j]
        count = 1
        while j+1 < len(char) and curr == char[j+1]:
            count += 1
            j += 1
        output += curr + str(count)
        j += 1
    print (output)
    char = output
    output = ""

In [ ]:
seq(4)

In [ ]:
g= [1,1]

In [ ]:
g[0] == g[-1]

In [ ]:
k

In [ ]:
a = 3

In [ ]:
k.append(a)

In [ ]:
k

In [ ]:
k=[1]

In [ ]:
k[0]

In [ ]:
k

In [ ]:
if k[1] is not in k:
    print("a")

In [ ]:
k[1] is k[]

In [ ]:
import numpy as np

In [ ]:
a = np.array(range(10))

In [ ]:
type(a)

In [ ]:
a

In [ ]:
l1 = [5,4,8,10]
b= np.array(l1)
b

In [ ]:
a.dtype

In [ ]:
l2=[1,2.0,3, 'a']
l2

In [ ]:
np.array(l2)

In [ ]:
l3=[1,2.0, 3.0, 5.9]

In [ ]:
c= np.array(l3)

In [ ]:
c

In [ ]:
c.dtype

In [ ]:
a.shape

In [ ]:
a

In [ ]:
b.shape

In [ ]:
c.shape

In [ ]:
l1=[[1,2], [3,4]]
a = np.array(l1)
a

In [ ]:
a.dtype

In [ ]:
a.shape

In [ ]:
l2=[[1,2,3], [3,4,5]]
b= np.array(l2)
b

In [ ]:
b.shape

In [ ]:
np.arange(10)

In [ ]:
range(10)

In [ ]:
np.arange(2,10)

In [ ]:
np.arange(2,10,2)

In [ ]:
#np.arange([start=0], stop, step=1) []는 옵션

In [ ]:
np.linspace(10,20,9)

In [ ]:
np.linspace(10,20,10)

In [ ]:
np.linspace(10,20)

# shape

In [ ]:
a = np.arange(2,10)
a

In [ ]:
a.shape

In [ ]:
a.dtype

In [ ]:
b = a.reshape(2,4)

In [ ]:
b

In [ ]:
b.shape

# 또 다른 방법

In [ ]:
a.shape = (2,4)

In [ ]:
a

In [ ]:
a.shape= (8,)

In [ ]:
a

In [ ]:
a.shape = -1

In [ ]:
a

# astype

In [ ]:
a = np.linspace(0, 100)

In [ ]:
a.dtype

In [ ]:
b = a.astype(str)
b

In [ ]:
c = a.astype(int)
c

In [ ]:
np.random.rand(2,3)

In [ ]:
np.random.randint(1,10, 28).reshape(7,4)

In [ ]:
np.random.randn(2,2)

# 인덱스

In [ ]:
a = np.linspace(1, 20, 20)
a

In [ ]:
a[1]

In [ ]:
a = a.reshape(3,3)
a

In [ ]:
a[1][2]

In [ ]:
a[1,2] #이렇게 하는 게 빠르고 공간 낭비가 없다.

In [ ]:
a[1:]

In [ ]:
a.shape

In [ ]:
a[:1]

In [ ]:
a[:1]

In [ ]:
a[2,2]

In [ ]:
a[:, 1:]

In [ ]:
a[:, :2]

In [ ]:
b = a.reshape(-1)

In [ ]:
b

In [ ]:
b[1::2]

In [ ]:
a

In [ ]:
a[0::2, 2::]

In [ ]:
a[0::2, :2]

In [ ]:
a[0::2, ::2]

In [ ]:
b

In [ ]:
b[b>3]

In [ ]:
b[b>10]

In [ ]:
a

In [ ]:
a[1, a[1]>9]

In [ ]:
np.nan

In [ ]:
np.inf

# 연산

In [ ]:
a = np.arange(10)

In [ ]:
a

In [ ]:
a + 1

In [ ]:
np.arange(10) + np.arange(50, 61)

In [ ]:
a

In [ ]:
b = np.arange(1, 11)
b

In [ ]:
a - b

In [ ]:
a*b

In [ ]:
a/b

In [ ]:
arr3 = np.linspace(0, np.pi, 20)
arr3

In [ ]:
b = arr3.astype(int)

In [ ]:
b

In [ ]:
arr1 = np.arange(9).reshape(3,3)
arr1

In [ ]:
arr1[[0,1], [1]]

In [ ]:
arr_zero_n = np.zeros(9)

In [ ]:
arr_zero_n

In [ ]:
arr_one_n = np.ones(9)
arr_one_n

In [ ]:
arr_one_mxn = np.ones((3,3))

In [ ]:
arr_i = np.eye(5)

In [ ]:
arr_i

In [ ]:
arr_l2 = np.identity(5)

In [ ]:
arr_l2

In [ ]:
arr1= np.arange(1.0,7)
arr2 = np.arange(10.0, 70, 10)

print('arr1:%s \t\t shape %s' %((arr1), arr1.shape))
print('arr2:%s \t shape %s' %(repr(arr2), arr2.shape))

In [ ]:
 repr(arr1)

In [ ]:
arr1

In [ ]:
A = np.arange(1, 7).reshape(2, 3)
B = np.arange(6, 0, -1).reshape(3, 2)

print("A: %s" % repr(A))
print("B: %s" % repr(B))

In [ ]:
A.dot(B)

In [ ]:
np.dot(A, B)

In [ ]:
np.matmul(A,B)

In [ ]:
A@B

In [ ]:
A = np.arange(1, 5).reshape(2, 2)
B = np.arange(4, 0, -1).reshape(2, 2)

In [ ]:
Ai = np.linalg.inv(A)
Ai

In [ ]:
A@Ai

In [ ]:
help(np)

In [ ]:
arr1

In [ ]:
arr5 = np.arange([True, False, True, True, True, True])

In [ ]:
import random
random.randint(5, 10)

In [ ]:
from random import randint
randint(10, 20)

In [ ]:
import json

In [ ]:
from json import encoder

In [ ]:
json.encoder.JSONEncoder

In [ ]:
from json.encoder import JSONEncoder

In [ ]:
JSONEncoder

In [ ]:
import json.encoder

In [ ]:
json.encoder.JSONEncoder

In [ ]:
import sys

In [ ]:
sys.path

In [13]:
from package import calc_module

In [12]:
from .package import calc_module

ModuleNotFoundError: No module named '__main__.package'; '__main__' is not a package

In [ ]:
calc_module

In [16]:
import sys
print(sys.path)

['C:\\Users\\student\\Documents\\machine_learning', 'C:\\ProgramData\\Anaconda3\\python37.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', '', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\student\\.ipython']

NameError: name '__file__' is not defined

In [19]:
import pandas as pd
import numpy as np

In [22]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
index_seq = range(10,20)
seq_data = range(10)
s2 = pd.Series(data=seq_data, index=index_seq)
s2

10    0
11    1
12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int64

In [24]:
index_date = ['2018-10-17', '2018-10-18', '2018-10-19', '2018-10-20']
s3 = pd.Series([200, 195, np.nan, 205], index=index_date)
s3

2018-10-17    200.0
2018-10-18    195.0
2018-10-19      NaN
2018-10-20    205.0
dtype: float64

In [26]:
s1 = pd.Series((range(10, 70, 10)))
s2 = pd.Series((range(1, 6)))

print(repr(s1))
print(repr(s2))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5     NaN
dtype: float64

In [28]:
date_index1 = pd.date_range(start='2019-05-25', periods=4)
date_index2 = pd.date_range(start='2019.05.25', periods=4)
date_index3 = pd.date_range(start='2019/05/25', periods=4)
print('date_index1: ', repr(date_index1))
print('date_index2: ', repr(date_index2))
print('date_index3: ', repr(date_index3))

date_index4 = pd.date_range(start='05/25/2019', periods=4)
date_index5 = pd.date_range(start='05-25-2019', periods=4)
date_index6 = pd.date_range(start='05.25.2019', periods=4)

print('date_index4: ', repr(date_index4))
print('date_index5: ', repr(date_index5))
print('date_index6: ', repr(date_index6))

date_index1:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')
date_index2:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')
date_index3:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')
date_index4:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')
date_index5:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')
date_index6:  DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')

In [29]:
pd.date_range(start="2019-05-25", periods=8, freq='2D')

DatetimeIndex(['2019-05-25', '2019-05-27', '2019-05-29', '2019-05-31',
               '2019-06-02', '2019-06-04', '2019-06-06', '2019-06-08'],
              dtype='datetime64[ns]', freq='2D')

In [33]:
pd.date_range(start="2019-06-01", periods=8, freq='B')

DatetimeIndex(['2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06',
               '2019-06-07', '2019-06-10', '2019-06-11', '2019-06-12'],
              dtype='datetime64[ns]', freq='B')

In [36]:
pd.date_range(start="2019-05-25 10:10", periods=8, freq='ms'

SyntaxError: unexpected EOF while parsing (<ipython-input-36-860df2004dec>, line 1)

In [37]:
df = pd.DataFrame([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
df

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [38]:
type(df)

pandas.core.frame.DataFrame

In [47]:
np_array = np.arange(10,100,10).reshape(3,3)
df1 = pd.DataFrame(np_array)
df1

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [48]:
df1.index = pd.date_range('2019-05-05',periods=3)
df1

             0   1   2
2019-05-05  10  20  30
2019-05-06  40  50  60
2019-05-07  70  80  90

In [49]:
table_data = {'연도':list(range(2010, 2020)),
              '매출액': [v**2 for i, v in enumerate(range(1,11))],
              '종업원 수': list(range(2, 30, 3))}


df = pd.DataFrame(table_data)
df

     연도  매출액  종업원 수
0  2010    1      2
1  2011    4      5
2  2012    9      8
3  2013   16     11
4  2014   25     14
5  2015   36     17
6  2016   49     20
7  2017   64     23
8  2018   81     26
9  2019  100     29

In [50]:
df.head()

     연도  매출액  종업원 수
0  2010    1      2
1  2011    4      5
2  2012    9      8
3  2013   16     11
4  2014   25     14

In [51]:

df.head(3)

     연도  매출액  종업원 수
0  2010    1      2
1  2011    4      5
2  2012    9      8

In [52]:

df.tail()

     연도  매출액  종업원 수
5  2015   36     17
6  2016   49     20
7  2017   64     23
8  2018   81     26
9  2019  100     29

In [53]:
df

     연도  매출액  종업원 수
0  2010    1      2
1  2011    4      5
2  2012    9      8
3  2013   16     11
4  2014   25     14
5  2015   36     17
6  2016   49     20
7  2017   64     23
8  2018   81     26
9  2019  100     29

In [54]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [55]:
print(df.index)

RangeIndex(start=0, stop=10, step=1)

In [56]:
df.columns

Index(['연도', '매출액', '종업원 수'], dtype='object')

In [57]:
df.values

array([[2010,    1,    2],
       [2011,    4,    5],
       [2012,    9,    8],
       [2013,   16,   11],
       [2014,   25,   14],
       [2015,   36,   17],
       [2016,   49,   20],
       [2017,   64,   23],
       [2018,   81,   26],
       [2019,  100,   29]], dtype=int64)

In [181]:
df1 = pd.DataFrame({'봄': [256.5, 264.3, 215.9, 223.2, 312.8],
                    '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
                    '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
                    '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]},
                    index=['2012', '2013', '2014', '2015', '2016'])
df1

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [186]:
df1[1:3]

          봄     여름     가을    겨울
2013  264.3  567.5  231.2  59.9
2014  215.9  599.8  293.1  76.9

In [71]:
df1.sum()

봄     1272.7
여름    2771.2
가을    1517.1
겨울     493.3
dtype: float64

In [60]:
df1.sum(axis=1)

2012    1529.9
2013    1122.9
2014    1185.7
2015     967.1
2016    1248.7
dtype: float64

In [61]:
df1.mean()

봄     254.54
여름    554.24
가을    303.42
겨울     98.66
dtype: float64

In [62]:
df1.mean(axis=1)

2012    382.475
2013    280.725
2014    296.425
2015    241.775
2016    312.175
dtype: float64

In [63]:
df1.std()

봄      38.628267
여름    148.888895
가을     67.358496
겨울     30.925523
dtype: float64

In [64]:
df1.std(axis=1)

2012    274.472128
2013    211.128782
2014    221.150739
2015    114.166760
2016    146.548658
dtype: float64

In [84]:
df1.loc['2013']

봄     264.3
여름    567.5
가을    231.2
겨울     59.9
Name: 2013, dtype: float64

In [76]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2012 to 2016
Data columns (total 4 columns):
봄     5 non-null float64
여름    5 non-null float64
가을    5 non-null float64
겨울    5 non-null float64
dtypes: float64(4)
memory usage: 360.0+ bytes

In [85]:
df1.loc['2013':, '봄':]

          봄     여름     가을     겨울
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [86]:
df1.loc[1:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [88]:
df1[1:2]

          봄     여름     가을    겨울
2013  264.3  567.5  231.2  59.9

In [89]:
df1.T

     2012   2013   2014   2015   2016
봄   256.5  264.3  215.9  223.2  312.8
여름  770.6  567.5  599.8  387.1  446.2
가을  363.5  231.2  293.1  247.7  381.6
겨울  139.3   59.9   76.9  109.1  108.1

In [92]:
df1.describe().T

    count    mean         std    min    25%    50%    75%    max
봄     5.0  254.54   38.628267  215.9  223.2  256.5  264.3  312.8
여름    5.0  554.24  148.888895  387.1  446.2  567.5  599.8  770.6
가을    5.0  303.42   67.358496  231.2  247.7  293.1  363.5  381.6
겨울    5.0   98.66   30.925523   59.9   76.9  108.1  109.1  139.3

In [93]:
df1['봄'][:3]

2012    256.5
2013    264.3
2014    215.9
Name: 봄, dtype: float64

In [94]:
df1[['겨울', '봄', '여름', '가을']]

         겨울      봄     여름     가을
2012  139.3  256.5  770.6  363.5
2013   59.9  264.3  567.5  231.2
2014   76.9  215.9  599.8  293.1
2015  109.1  223.2  387.1  247.7
2016  108.1  312.8  446.2  381.6

In [95]:
df1

          봄     여름     가을     겨울
2012  256.5  770.6  363.5  139.3
2013  264.3  567.5  231.2   59.9
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1

In [ ]:
df1.append(df2).reset_index = True

In [96]:
df1 = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 98, 100]})
df1

   Class1  Class2
0      95      91
1      92      93
2      98      98
3     100     100

In [97]:
df2 = pd.DataFrame({'Class1': [76, 88],
                    'Class2': [100, 100]})
df2

   Class1  Class2
0      76     100
1      88     100

In [101]:
df1.append(df2).reset_index=True

In [102]:
df1

   Class1  Class2
0      95      91
1      92      93
2      98      98
3     100     100

In [103]:
df1 = pd.DataFrame({'Class1': [95, 92, 98, 100],
                    'Class2': [91, 93, 98, 100]})

In [104]:
df4 = pd.DataFrame({'Class3': [92,93,94,91,99]})
df4

   Class3
0      92
1      93
2      94
3      91
4      99

In [107]:

df1.join(df4, how ="outer")

   Class1  Class2  Class3
0    95.0    91.0      92
1    92.0    93.0      93
2    98.0    98.0      94
3   100.0   100.0      91
4     NaN     NaN      99

In [126]:
import os
BASE_DIR = os.getcwd()
DATASET_PATH = os.path.join(BASE_DIR, "dataset\\201904")
print(DATASET_PATH)

C:\Users\student\Documents\machine_learning\dataset\201904

In [155]:
date_index = pd.date_range('2019-04-01', '2019-04-30')

In [156]:
date_index

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
               '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20',
               '2019-04-21', '2019-04-22', '2019-04-23', '2019-04-24',
               '2019-04-25', '2019-04-26', '2019-04-27', '2019-04-28',
               '2019-04-29', '2019-04-30'],
              dtype='datetime64[ns]', freq='D')

In [160]:
data_index([0])

NameError: name 'data_index' is not defined

In [161]:
type(date_index)

pandas.core.indexes.datetimes.DatetimeIndex

In [196]:
date_index1 = pd.DataFrame(date_index)

In [197]:
date_index1[0][1]

Timestamp('2019-04-02 00:00:00')

In [216]:
date_index2 = date_index1[0:1].astype(str)
date_index2+".csv"

                0
0  2019-04-01.csv

In [211]:
len(date_index1)

30

In [217]:
date_index3

DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28'], dtype='datetime64[ns]', freq='D')

In [226]:
type(date_index[0].astype(str))

AttributeError: 'Timestamp' object has no attribute 'astype'

In [230]:
list_date = [pd.date_range('2019-04-01', '2019-04-30')]

In [232]:
type(list_date)

list

In [257]:
z = list_date[0].astype(str)
z+".csv"

Index(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05',
       '2019-04-06', '2019-04-07', '2019-04-08', '2019-04-09', '2019-04-10',
       '2019-04-11', '2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',
       '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20',
       '2019-04-21', '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25',
       '2019-04-26', '2019-04-27', '2019-04-28', '2019-04-29', '2019-04-30'],
      dtype='object')

In [263]:
date_index3

0     2019-04-01.csv
1     2019-04-02.csv
2     2019-04-03.csv
3     2019-04-04.csv
4     2019-04-05.csv
5     2019-04-06.csv
6     2019-04-07.csv
7     2019-04-08.csv
8     2019-04-09.csv
9     2019-04-10.csv
10    2019-04-11.csv
11    2019-04-12.csv
12    2019-04-13.csv
13    2019-04-14.csv
14    2019-04-15.csv
15    2019-04-16.csv
16    2019-04-17.csv
17    2019-04-18.csv
18    2019-04-19.csv
19    2019-04-20.csv
20    2019-04-21.csv
21    2019-04-22.csv
22    2019-04-23.csv
23    2019-04-24.csv
24    2019-04-25.csv
25    2019-04-26.csv
26    2019-04-27.csv
27    2019-04-28.csv
28    2019-04-29.csv
29    2019-04-30.csv
Name: 0, dtype: object

In [279]:
date_index2 = date_index1[0].astype(str)
date_index3 = date_index2+".csv"
for i in range(len(date_index1)):
    file1 = os.path.join(DATASET_PATH, date_index3[i])
    df = pd.read_csv(file1, error_bad_lines = False, header = None)
    df.append(df.head())

b'Skipping line 36560: expected 8 fields, saw 11\n'
b'Skipping line 222462: expected 8 fields, saw 11\n'
b'Skipping line 27894: expected 8 fields, saw 11\n'
b'Skipping line 45907: expected 8 fields, saw 11\n'
b'Skipping line 45538: expected 8 fields, saw 11\n'
b'Skipping line 89789: expected 8 fields, saw 11\n'
b'Skipping line 219259: expected 8 fields, saw 11\n'
b'Skipping line 129303: expected 8 fields, saw 11\n'
b'Skipping line 272309: expected 8 fields, saw 11\n'
b'Skipping line 211460: expected 8 fields, saw 11\n'
b'Skipping line 57879: expected 8 fields, saw 11\n'
b'Skipping line 170099: expected 8 fields, saw 11\n'
b'Skipping line 168991: expected 8 fields, saw 11\n'
b'Skipping line 61227: expected 8 fields, saw 11\n'
b'Skipping line 139967: expected 8 fields, saw 11\n'
b'Skipping line 61480: expected 8 fields, saw 11\n'
b'Skipping line 77728: expected 8 fields, saw 11\n'
b'Skipping line 271889: expected 8 fields, saw 11\n'
b'Skipping line 223096: expected 8 fields, saw 11\n'
b'Skipping line 104855: expected 8 fields, saw 11\n'
b'Skipping line 18081: expected 8 fields, saw 11\n'

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298850 entries, 0 to 298849
Data columns (total 8 columns):
0    298850 non-null object
1    298850 non-null int64
2    298850 non-null object
3    298850 non-null object
4    298850 non-null object
5    298850 non-null int64
6    75342 non-null float64
7    75342 non-null float64
dtypes: float64(2), int64(2), object(4)
memory usage: 18.2+ MB

In [266]:
initial_file = os.path.join(DATASET_PATH, "2019-04-01.csv")
o_df = pd.read_csv(initial_file, header=None, error_bad_lines=False)

b'Skipping line 36560: expected 8 fields, saw 11\n'

In [280]:
for x in pd.date_range('2019-04-02', periods= 30):
    date = x.strftime('%y-%m-%d')
    filename = '{}.csv'.format(date)
    
    filepath = os.path.join(DATASET_PATH, filename)
    df = pd.read_csv(filepath, header = None, error_bad_lines = False)
    o_df.append(df)

FileNotFoundError: [Errno 2] File b'C:\\Users\\student\\Documents\\machine_learning\\dataset\\201904\\19-04-02.csv' does not exist: b'C:\\Users\\student\\Documents\\machine_learning\\dataset\\201904\\19-04-02.csv'

In [261]:
date_index4[0]

'2019-04-01.csv'

In [208]:
+'.csv'

"DatetimeIndex(['2019-04-01'], dtype='datetime64[ns]', freq='D').csv"

In [152]:
file1 = os.path.join(DATASET_PATH, "2019-04-30.csv")
df = pd.read_csv(file1, error_bad_lines = False, header = None)
df.head()

b'Skipping line 18081: expected 8 fields, saw 11\n'

,0,1,2,3,4,5,6,7
0,2019-04-30,1545587997,C013010,점퍼,캘빈클라인진 19SS 신상 여성 항공점퍼 J211287,99500,NaN,NaN
1,2019-04-30,147567876,C013020,티셔츠,[모다아울렛][티엔지티]그레이 라운드넥 면 긴팔티셔츠TGTS9A103G2,55200,NaN,NaN
2,2019-04-30,897756527,A011060,땅콩,간단한 맥주안주 마른 군것질 견과 꿀땅콩 453g 간단,10970,NaN,NaN
3,2019-04-30,410494691,A019050,간장,간장(진 사조 옹가네 1.8L)X8 간장 진간장 식자재 업,36870,NaN,NaN
4,2019-04-30,223173815,C011020,남자상의,(색상 : 곤색 | 사이즈 : XL) FSSF18036 선염체크 버튼다운 남방 남자...,41070,NaN,NaN

In [146]:
df.columns = ['수집일자', '상품ID', '품목ID', '상품명', '품목명', '판매가격', '할인가격', '혜택가격']
df.head()

,수집일자,상품ID,품목ID,상품명,품목명,판매가격,할인가격,혜택가격
0,2019-04-30,1545587997,C013010,점퍼,캘빈클라인진 19SS 신상 여성 항공점퍼 J211287,99500,NaN,NaN
1,2019-04-30,147567876,C013020,티셔츠,[모다아울렛][티엔지티]그레이 라운드넥 면 긴팔티셔츠TGTS9A103G2,55200,NaN,NaN
2,2019-04-30,897756527,A011060,땅콩,간단한 맥주안주 마른 군것질 견과 꿀땅콩 453g 간단,10970,NaN,NaN
3,2019-04-30,410494691,A019050,간장,간장(진 사조 옹가네 1.8L)X8 간장 진간장 식자재 업,36870,NaN,NaN
4,2019-04-30,223173815,C011020,남자상의,(색상 : 곤색 | 사이즈 : XL) FSSF18036 선염체크 버튼다운 남방 남자...,41070,NaN,NaN

In [149]:
df2 = df[['수집일자', '상품명', '판매가격']]
df2

              수집일자     상품명     판매가격
0       2019-04-30      점퍼    99500
1       2019-04-30     티셔츠    55200
2       2019-04-30      땅콩    10970
3       2019-04-30      간장    36870
4       2019-04-30    남자상의    41070
5       2019-04-30    즉석식품    89160
6       2019-04-30    여자하의   181300
7       2019-04-30     아동복    71200
8       2019-04-30    여자상의   179000
9       2019-04-30     살충제     6350
10      2019-04-30    여자하의    39800
11      2019-04-30     등산복    47000
12      2019-04-30    남자하의     9000
13      2019-04-30     티셔츠    37905
14      2019-04-30  컴퓨터소모품    18000
15      2019-04-30     티셔츠    23000
16      2019-04-30     티셔츠    43130
17      2019-04-30   색조화장품    34000
18      2019-04-30     아동복    20170
19      2019-04-30    남자상의     6000
20      2019-04-30    여자하의   219000
21      2019-04-30    여자하의    39800
22      2019-04-30     티셔츠    29800
23      2019-04-30     아동복    79200
24      2019-04-30       차     7000
25      2019-04-30     운동화   153740
26      2019-04-30    여자외의   198000
27      2019-04-30    여자외의  4590000
28      2019-04-30     티셔츠    36270
29      2019-04-30     등산복    34140
...            ...     ...      ...
298820  2019-04-30     티셔츠    19800
298821  2019-04-30    여자외의   129500
298822  2019-04-30    여자외의   383200
298823  2019-04-30     아동복     9300
298824  2019-04-30      치약     3500
298825  2019-04-30      점퍼    49000
298826  2019-04-30      구두    77000
298827  2019-04-30    남자하의   185480
298828  2019-04-30    여자외의    99500
298829  2019-04-30     티셔츠    52000
298830  2019-04-30     티셔츠   142200
298831  2019-04-30     티셔츠    39900
298832  2019-04-30    남자상의    48000
298833  2019-04-30      점퍼    10000
298834  2019-04-30      점퍼    92980
298835  2019-04-30    남자상의    37580
298836  2019-04-30     아동복    17900
298837  2019-04-30    여자하의    46550
298838  2019-04-30    여자하의    71100
298839  2019-04-30      점퍼    99000
298840  2019-04-30    남자하의    30420
298841  2019-04-30      샴푸    35620
298842  2019-04-30      전복    65900
298843  2019-04-30    여자하의    33360
298844  2019-04-30     티셔츠    15420
298845  2019-04-30     아동복    89000
298846  2019-04-30    여자상의   169000
298847  2019-04-30    남자상의    37580
298848  2019-04-30      소금    19100
298849  2019-04-30     청바지    37000

[298850 rows x 3 columns]

In [150]:
df2.to_csv("temp.csv", encoding="cp949")

In [ ]:
read