In [1]:
print("hello world")

hello world

In [ ]:
2+3

In [4]:
type(10<10)

bool

In [6]:
s = "hello world"

In [8]:
s[-1]

'd'

In [9]:
s[1:4]

'ell'

In [22]:
s[0:-2:3]

'hlw'

In [32]:
"number {0:r<4}!".format(1)

'number 1rrr!'

In [33]:
type(s)

str

In [110]:
a = [1, 2, 3, 4, 5, "'''abc"]

In [97]:
a += [6,3,4,print(a)]

[1, 2, 3, 4, 5, 6, 3, 4, <built-in function print>]

In [109]:
a

[1, 2, 3, 4, 5, "'''abc"]

In [91]:
a[5][3] = None

TypeError: 'int' object does not support item assignment

In [65]:
type(a[5][3])

NoneType

In [56]:
a = None

In [57]:
type(a)

NoneType

In [102]:
print("[1,2,3,4,5,\"]")

[1,2,3,4,5,"]

In [113]:
c= list(range(5))

In [114]:
c

[0, 1, 2, 3, 4]

In [116]:
s1= set([1,2,3])

In [117]:
s1 = {1,2,3}
s2 = {2,4,5}

In [118]:
print(s1&s2)

{2}

In [119]:
print(s1|s2)

{1, 2, 3, 4, 5}

In [120]:
print(s1.intersection(s2))

{2}

In [121]:
print(s1-s2)

{1, 3}

In [122]:
print(s1.difference(s2))

{1, 3}

In [123]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [124]:
print(s2.difference(s1))

{4, 5}

In [125]:
set.symmetric_difference(s1, s2)

{1, 3, 4, 5}

In [127]:
s1.isdisjoint(s2)

False

In [128]:
s1

{1, 2, 3}

In [129]:
s1.append(3)

AttributeError: 'set' object has no attribute 'append'

In [135]:
s1={2,3,4,5, "abc"}
s2={6,7,8,9, "abc"}

In [136]:
set.intersection(s1,s2)

{'abc'}

In [137]:
if None :
    print("이건 None")

In [152]:
a = int(input("정수1: "))
b = int(input("정수2: "))
c = int(input("정수3: "))

if (a > 100 or b > 100 or c > 100) or (a < 0 or b < 0 or c < 0) :
    print("잘못된 정수가 입력되었습니다.")
elif a > 65 and b > 65 and c > 65 :
    print("합격")
else:
    print("불합격")

정수1: 66
정수2: 66
정수3: 66
합격

In [160]:
a = int(input("정수를 입력하세요: "))
if a == 0:
    print("0은 애매합니다.")
elif a%2 == 0:
    print("입력하신 %d는 짝수" %a)
elif a%2 == 1:
    print("입력하신 %d는 홀수" %a)

정수를 입력하세요: 0
0은 애매합니다.

In [161]:
a = {1,2,3}

In [162]:
type(a)

set

In [165]:
a.expend([1,2,3])

AttributeError: 'set' object has no attribute 'expend'

In [166]:
type(a)

set

In [173]:
a = list(a)

In [174]:
a.extend([4,5,6])

In [175]:
a

[1, 2, 3, 4, 5, 6]

In [176]:
a = set(a)

In [177]:
type(a)

set

In [178]:
a

{1, 2, 3, 4, 5, 6}

In [180]:
score = dict(name="Tom", math=80, english=70)

In [181]:
score

{'name': 'Tom', 'math': 80, 'english': 70}

In [182]:
type(score)

dict

In [183]:
list(score)

['name', 'math', 'english']

In [204]:
a = list(score.items())

In [188]:
a[1]

('math', 80)

In [189]:
a[1][0]

'math'

In [190]:
type(a)

list

In [191]:
type(a[0])

tuple

In [193]:
score.update({"math": 90})

In [194]:
score

{'name': 'Tom', 'math': 90, 'english': 70}

In [205]:
a

[('name', 'Tom'), ('math', 90), ('english', 70)]

In [208]:
a[1][1] = 100

TypeError: 'tuple' object does not support item assignment

In [198]:
a

[{'math': 90}, ('math', 80), ('english', 70)]

In [199]:
b = {1}

In [200]:
type(b)

set

In [201]:
type(a)

list

In [202]:
type(a[0])

dict

In [203]:
type(a[1])

tuple

In [227]:
a = int(input("정수를 입력하세요:"))
for i in range (0, a):
    print("*"*(i))

정수를 입력하세요:5

*
**
***
****

In [228]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [229]:
for idx, val in enumerate(a):
    print(idx, val, sep=", ")

0, a
1, b
2, c
3, d
4, e
5, f
6, g

In [230]:
for idx, val in enumerate(a):
    print(val, sep=", ")

a
b
c
d
e
f
g

In [231]:
for val in enumerate(a):
    print(idx, val, sep=", ")

6, (0, 'a')
6, (1, 'b')
6, (2, 'c')
6, (3, 'd')
6, (4, 'e')
6, (5, 'f')
6, (6, 'g')

In [264]:
x = [3,6,9,20,-7,5]

In [265]:
for i in range (len(x)):
    print(x[i]*10)
    x[i] *= 10
    print(x[i])
print(x)

30
30
60
60
90
90
200
200
-70
-70
50
50
[30, 60, 90, 200, -70, 50]

In [238]:
len(x)

6

In [390]:
y = {"math": 70, "science": 80, "english": 20}

In [379]:
z = list(y.values())
for i, v in enumerate(y):
    y[v] += 10
print(y)

{'math': 110, 'science': 120, 'english': 60}

In [363]:
o = [1,2,3,4,6,7,8,9]

In [407]:
g = int(input())
if g < 1 :
    print("구구단x")
else :
    for i in range (10) :
        print("%d * %d = %d" %(g, i, g*i))

3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [380]:
enumerate(y)

In [478]:
new_list=[]
word = ["school", "game", "piano", "science", "hotel", "mountain"]
for i in word :
    if len(word) >= 6 :
        print(new_list)
#         new_list.append(word[i])
# print(new_list)
#         print(word[i])
#         print((word[i]))
        new_list += [i]
new_list

[]
['school']
['school', 'game']
['school', 'game', 'piano']
['school', 'game', 'piano', 'science']
['school', 'game', 'piano', 'science', 'hotel']

['school', 'game', 'piano', 'science', 'hotel', 'mountain']

In [416]:
len(word[1])

4

In [391]:
for subject in y :
    y[subject]+=10
print(y)

{'math': 80, 'science': 90, 'english': 30}

In [399]:
'__iter__' in dir()

False

In [426]:
s = ['abc', 'edf']

In [429]:
s += '234325'

In [430]:
s

['abc', 'edf', '234325', '2', '3', '4', '3', '2', '5']

In [443]:
for i in range(2, 10):
    for j in range(1, 10):
        print("{0}*{1}={2}".format(i, j, i*j))
    print("________" "%s단 끝" %i)

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
________2단 끝
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
________3단 끝
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
________4단 끝
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
________5단 끝
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
________6단 끝
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
________7단 끝
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
________8단 끝
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
________9단 끝

In [455]:
k = int(input())
for i in range (1, k+1):
    if i%3 == 0 and i%5 == 0 :
        print("%d는 3과 5의 공배수" %i)
    elif i%3 == 0 :
        print("%d는 3의 공배수" %i)
    elif i%5 == 0 :
        print("%d는 5의 공배수" %i)
    else :
        print("{}".format(i))

32
1
2
3는 3의 공배수
4
5는 5의 공배수
6는 3의 공배수
7
8
9는 3의 공배수
10는 5의 공배수
11
12는 3의 공배수
13
14
15는 3과 5의 공배수
16
17
18는 3의 공배수
19
20는 5의 공배수
21는 3의 공배수
22
23
24는 3의 공배수
25는 5의 공배수
26
27는 3의 공배수
28
29
30는 3과 5의 공배수
31
32

In [464]:
diction = dict(name = 2345, birth = 23562, height = 1124, GRE = 123)

In [457]:
type(diction)

dict

In [469]:
for i in diction:
    print((diction[i]) + 10)

2355
23572
1134
133